body {
    background-image:  url('../images/cover-bg.png');
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */
    -webkit-print-color-adjust: exact;
}

.info{
    width: 33%  !important; 
    -webkit-print-color-adjust: exact;
    position: absolute;
    top: 1210px;
    left: 60px;
    color: #165B56;
   
}

h1.name{
    font-size: 18px;
}

p.details{
    font-size: 14pt;

}

.type-report{
    font-size: 14pt;
    font-family:Roboto, sans-serif;
    color:#131e42 ;
    position: absolute;
    right: 535px;
    top: 292px;
}

p.para{
    position: absolute;
    top: 600px;
    left: 50px;
    width: 25%;
    text-align: justify;
    font-size: 14pt;
}

.cover-title{
    text-align: left;
    position: relative;;
    padding-top: 50px ;
    padding-bottom: 50px ;
    padding-left: 85px ;
    top: 210px;
    left: -10px;

}

h1.title-type{
    color:#146aa2 ;
    font-size: 42Pt;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-align: left;

}

h1.details{
    color:#146aa2 ;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: left;
}

img.comp-logo{
    height: 100px;
position: absolute;   
 margin-top: 0.75in;
 margin-left: 2.2in;
}

img.coverlogo{
    height: 100px;
    position: absolute;
    margin-left: 0.75in;
    margin-top: 0.75in;
}

.text-uppercase{
    text-transform: uppercase;
}

.org-block{

    text-align: left;
    position: relative;
    padding-top: 20px ;
    padding-bottom: 20px ;
    padding-left: 85px ;
    top: 150px;
    left: -10px;
    font-family: Roboto, sans-serif;

}

.org-tt{

    font-weight: lighter;
    color: #38a7c3;


}

.org-type{

    font-weight: bold;
    color: #ffca3b;


}

.org-name{
    font-weight: bold;
    color: #38a7c3;

}

@page {
    size: a4;
    margin:0;
  }
  @media print {

    * {
        -webkit-print-color-adjust: exact;
    }


   
    html, body {
        width: 100%;
        height: 95%;
        
    }
    h1.name{
        word-wrap: break-word;
        width: 45%;
    }


    .date{
        text-align: left;
    }

    
  }

@media only screen {
    html,body{
    width: 210mm;
    height: 297mm;
    }
    
    * {
        -webkit-print-color-adjust: exact;
    }

}